@model List<Crud_Database.Models.Domain.Student>

@{
}

<h1>Students</h1>

<table class="table text-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>School Fee</th>
            <th>Date Of Birth</th>
            <th>Class</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Salary</td>
                <td>@student.DateOfBirth.ToString("dd-mm-yyyy")</td>
                <td>@student.Department</td>
                  <td><a href="Students/View/@student.Id" >Edit</a></td>
            </tr>
        }
    </tbody>
</table>